<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<!-- 관리자 액션 -->
		<action name="dispActivitypubAdminConfig" class="Controllers\Admin" menu-name="activitypub" admin-index="true" />
		<action name="procActivitypubAdminInsertConfig" class="Controllers\Admin" />
		<action name="dispActivitypubAdminCreateActor" class="Controllers\Admin" />
		<action name="procActivitypubAdminCreateActor" class="Controllers\Admin" />
		<action name="dispActivitypubAdminActorEdit" class="Controllers\Admin" />
		<action name="procActivitypubAdminUpdateActorProfile" class="Controllers\Admin" />
		<action name="procActivitypubAdminDeleteActor" class="Controllers\Admin" />
		<action name="dispActivitypubAdminActorFollowers" class="Controllers\Admin" />
		<action name="procActivitypubAdminDeleteFollower" class="Controllers\Admin" />
		<!-- ActivityPub 엔드포인트 -->
		<action name="dispActivitypubWebfinger" class="Controllers\Endpoint" global-route="true">
			<route route=".well-known/webfinger" />
		</action>
		<action name="dispActivitypubActor" class="Controllers\Endpoint" />
		<action name="dispActivitypubNote" class="Controllers\Endpoint" />
		<action name="dispActivitypubOutbox" class="Controllers\Endpoint" />
		<action name="dispActivitypubFollowers" class="Controllers\Endpoint" />
		<action name="dispActivitypubFollowing" class="Controllers\Endpoint" />
		<action name="procActivitypubInbox" class="Controllers\Endpoint" method="GET|POST" check_csrf="false" />
		<action name="procActivitypubSharedInbox" class="Controllers\Endpoint" method="GET|POST" check_csrf="false" />
	</actions>
	<!-- 이벤트 핸들러 (트리거) 선언 -->
	<eventHandlers>
		<eventHandler after="document.publishDocument" class="Controllers\EventHandlers" method="afterPublishDocument" />
		<eventHandler after="document.updateDocument" class="Controllers\EventHandlers" method="afterUpdateDocument" />
		<eventHandler before="document.deleteDocument" class="Controllers\EventHandlers" method="beforeDeleteDocument" />
		<eventHandler before="document.moveDocumentToTrash" class="Controllers\EventHandlers" method="beforeMoveDocumentToTrash" />
		<eventHandler after="comment.insertComment" class="Controllers\EventHandlers" method="afterInsertComment" />
		<eventHandler after="comment.updateComment" class="Controllers\EventHandlers" method="afterUpdateComment" />
		<eventHandler before="comment.deleteComment" class="Controllers\EventHandlers" method="beforeDeleteComment" />
		<eventHandler before="comment.moveCommentToTrash" class="Controllers\EventHandlers" method="beforeMoveCommentToTrash" />
	</eventHandlers>
	<menus>
		<menu name="activitypub" type="all">
			<title xml:lang="ko">ActivityPub 연동</title>
			<title xml:lang="en">ActivityPub Integration</title>
		</menu>
	</menus>
</module>
